// ... GENERAL DECORATIONS ... //
h1{
   background-image: 
   linear-gradient(to bottom right,
   rgba($color-pry__3, 0.98),
   rgba($color-pry__2, 0.85),
   rgba($color-pry__1, 0.83)),  
   url(../img/roof-plate.jpeg);
   -webkit-background-clip: text;
   color: transparent;
   letter-spacing:1.7rem; 
   font-size:7rem;
   text-transform: uppercase; 
}
h2{
   color: $color-grey-dark; 
   font-size:2rem;
   font-weight:500;
   text-transform: uppercase;
}

// (1) HOMEPAGE 

// ... HEADER SECTION ... // 
.navbar ul{
    background-image: 
    linear-gradient(to left,
    rgba($color-pry__3, 0.98),
    rgba($color-pry__1, 0.85)), 
    url(../img/roof-plate.jpeg);
    position: fixed;
    height:8vh;
    display: flex;
    justify-content: center;
    width:100%;
    text-align: center;
    z-index:100;

    & li{
      list-style: none;
      font-size:1.45rem;
      margin-right:2rem;
      color:$color-black;
      font-weight: 700;
      letter-spacing:0.2rem;
      align-self: center;
      text-transform: uppercase;
         
   
   
      & a{
         text-decoration:none;
         color:$color-white;
         transition: all .18s ease-in-out;
         backface-visibility: hidden;
   
         &:hover{
            background-color:#777;
            color:$color-white;
            padding:1.25rem;
            outline: 5px double $color-white;
            outline-offset:-.7rem; 
         }
   
      }
   }
    
 }
 

// ... ABOUT US ... //
.about-us{
   & .grid{
       height:65%;
       width:88%;
       gap:50px;
       margin:0 auto;
       grid-template-columns: 1fr 1.5fr;
       margin-bottom:3rem;
   }
   
   & h1, & h2{
       color: $color-white;
   }

   & h2{
       font-weight:500;
   }

   & .text-box{
       text-align: left; 
   }
   & .image-box{
       background-color:rgba($color-pry__2, 0.3);
       padding:1rem;
       text-align: left;
       border:5px double #333;
       border-radius:2rem;
       box-shadow: -3px -5.4px 30px 3px $color-white;
   }

    & img{
        height:30rem;
        width:100%;
    }
   
}

// ... OUR SERVICE SECTION ... //
.service{ 
   & .grid{
      gap:30px; 
      width:80%;
   }
   & .card{
       transition: all .5s;
    } 

   & .card:hover{
       transform: translateY(-17px);
       backface-visibility: hidden;
   }
}
.service__pic{
   clip-path: polygon(0 0,100% 0,100% 92%,0 100%);
   height:45%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;

   & h3{
      position: absolute;
      transform: translate(-50% -50%);
      top:35%;
      right:15%;
      width:50%;
      font-weight:600;
      color:$color-white;
      font-size:1.8rem;
      width:65%;
      text-transform: uppercase;
   }
}
.service__pic--1{
   background-image: 
   linear-gradient(to bottom right,
   rgba($color-pry__2, 0.68),
   rgba($color-pry__2, 0.75)), 
   url(../img/roof-sheet.jpg);
}
.service__pic--2{
   background-image: 
   linear-gradient(to bottom right,
   rgba($color-grey-dark, 0.8),
   rgba($color-grey-dark, 0.85)), 
   url(../img/pickawood.jpg);

   & h3{  
      background-image: 
   linear-gradient(to bottom right,
   rgba($color-grey-dark, 0.8),
   rgba($color-grey-dark, 0.85)), 
   url(../img/pickawood.jpg);
   }
}
.service__pic--3{
   background-image: 
   linear-gradient(to bottom right,
   rgba($color-pry__2, 0.78),
   rgba($color-pry__2, 0.85)), 
   url(../img/roof-plate.jpeg);
}

// ... CUSTOMER REVIEW SECTION ... //
.customer-review{

   & h1{
      font-size:4rem;
      letter-spacing:.7rem;
   }

   & .grid{
      grid-template-columns:1fr;
   }

   & .story{
      color:$color-grey-dark;
      width:80%;
      align-self: center;
      justify-self: center;   
      transform: skewX(-12deg);
      font-size:1.4rem;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 3px;
      padding:6rem 5rem;
      text-align: left;
      transition: all .5s;


      & .story_shape{
         height:15rem;
         width:15rem;
         
         border-radius:50%;
         clip-path: circle(50% at 50% 50%);
         shape-outside: circle(50% at 50% 50%);
         transform:skewX(12deg);
         text-align: center;
         float: left;
         margin-right:3rem;
         position: relative;         
      }

      & figcaption{
         font-size: 1.3rem;
         color:#fff;
         text-transform: uppercase;
         z-index:5;
         position: absolute;
         top:80%;
         left:50%;
         transform: translate(-50%,-50%);
         transition: all .6s;
         opacity: 0;
      }

      &:hover figcaption{
         opacity: 1;
         top:50%;
      }
      &:hover img {
         filter: blur(7px) brightness(90%);
     }

      & img{
         height:100%;
         width:100%;
        
      }

      & .story-text{
         transform: skewX(12deg);

         & h3{
            font-size:2.5rem;
            font-weight:600;
            text-transform: uppercase;
         }

         & p{
            font-size: 1.5rem;
            font-weight: 400;
         }
      }
   }


}

//  ... ABOUT US SECTION ... //
.our-team{

   & h1{
      color:$color-white;
      font-size:8rem;
      text-align: center;
      
   }

   .grid{
      width:70%;
      gap:4rem;
   }

   & .card{
      height:37rem;
      padding:4rem 6.5rem;
      outline-offset:-2rem;
      border:10px double #777;
      border-radius:7px;
      outline: 3px solid #777;
      text-align: center;
      text-transform: uppercase;
      transition: all .5s;

      &:hover{
         transform: translateY(-3rem);
      }

      & img{
         height:15rem;
         width:15rem;
         border-radius:50%;
         padding:.5rem;
         margin:0 auto;
         margin-bottom:1.5rem;
         border:5px dotted #777;
      }

      & h4{
         font-size:2rem;
         font-weight:500;
         text-align: center;
         margin-bottom:1.5rem;
      }

      & p{
         font-weight: 400;
      }

   }

   
}

// ... Footer ... //
.footer{

   & .grid{
      grid-template-columns: 1fr 2.5fr 1.5fr;
      width:70%;
   }

   & img{
      height:200px;
      width:200px;
   }

   
   & .footer__address-box{
      font-size:2.5rem;
      font-weight: 500;

      & span{
         text-transform: uppercase;
         letter-spacing:0.3rem;
      }

      & p{
         letter-spacing:.5rem;
      }
   }
   & .footer__navbar{
      
      width:100%;

      & ul li {
         list-style:none;
         text-decoration: none;


         & a{
            text-decoration: none;
            font-size:2rem;
            font-weight: 500;
            text-transform: uppercase;
            color: $color-white;

            &:hover{
               color:#777;
               font-weight: 700;
            }
            
         }
      }
   }

   
}
