*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-weight: bolder;
}
body{
    font-family: 'Roboto Slab', sans-serif;
    line-height:1.7;
    position: relative;
        
 }
